{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<h3 class="mb-3 text-center mt-5">{% trans "Sign Up" %}</h3>
<p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<form class="signup mx-auto" id="signup_form" method="post" action="{% url 'account_signup' %}" style="max-width: 400px;">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>
{% endblock content %}
